$fontWhite: #ffffff;
$mainBackground: #eeeeee;
$primaryColor: #ffae00;
$mainTransition: all 0.3s ease;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Lato', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: $mainBackground;
  z-index: 1;
  .navbar-center {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    .nav-icon {
      font-size: 2.8rem;
      cursor: pointer;
    }
    .logo {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      font-weight: bold;
    }
    .cart-btn {
      position: relative;
      cursor: pointer;
    }
    .cart-items {
      position: absolute;
      top: -1rem;
      right: -1.3rem;
      background: #ff4800;
      padding: 0.1rem 0.5rem;
      color: $fontWhite;
      border-radius: 0.7rem;
      font-size: 1.5em;
    }
  }
}
.hero {
  min-height: calc(100vh - 6rem);
  // max-width: 1440px;
  // margin: 0 auto;
  background: url('../img/background.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 3rem;
    .banner-title {
      font-size: 6.5rem;
      text-transform: uppercase;
      margin-bottom: 4.5rem;
    }
    .banner-btn {
      padding: 1.5rem 4.5rem;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-size: 1.5rem;
      background: $primaryColor;
      border: 3px solid $primaryColor;
      transition: $mainTransition;
      cursor: pointer;
      &:hover {
        background: transparent;
        // color: $primaryColor;
        border: 3px solid $primaryColor;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.products {
  padding: 6rem 0;
  .section-title {
    h2 {
      text-align: center;
      font-size: 3.5rem;
      margin-bottom: 7rem;
      text-transform: capitalize;
      letter-spacing: 0.5rem;
    }
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 117rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 2.2rem;
    grid-row-gap: 3rem;
    .product {
      .img-container {
        position: relative;
        overflow: hidden;
        .bag-btn {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          opacity: 0;
          background: $primaryColor;
          border: none;
          text-transform: uppercase;
          padding: 0.8rem 1.2rem;
          letter-spacing: 0.2rem;
          font-weight: bold;
          transition: $mainTransition;
          cursor: pointer;
          &:hover {
            color: $fontWhite;
          }
          &:focus {
            outline: none;
          }
          .fa-shopping-cart {
            margin-right: 0.8rem;
          }
        }
        &:hover {
          .bag-btn {
            opacity: 1;
          }
          .product-img {
            opacity: 0.5;
          }
        }
      }
      .product-img {
        display: block;
        width: 100%;
        min-height: 19rem;
        transition: $mainTransition;
      }
      h3 {
        text-transform: capitalize;
        font-size: 1.8rem;
        margin-top: 1.6rem;
        letter-spacing: 0.2rem;
        text-align: center;
      }
      h4 {
        margin-top: 1rem;
        letter-spacing: 0.2rem;
        color: $primaryColor;
        text-align: center;
        font-size: 1.7rem;
      }
    }
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: $mainTransition;
  background: rgba(255, 255, 255, 0.281);
  z-index: 2;
  visibility: hidden;
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    overflow: scroll;
    background: #fff;
    z-index: 3;
    background: $mainBackground;
    padding: 2.2rem;
    transition: $mainTransition;
    transform: translateX(100%);
    .close-cart {
      font-size: 2.5rem;
      cursor: pointer;
    }
    h2 {
      text-transform: capitalize;
      text-align: center;
      letter-spacing: 0.2rem;
      margin-bottom: 3rem;
    }
    .cart-content {
      .cart-item {
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        column-gap: 2.2rem;
        margin: 2.2rem 0;
        img {
          width: 7.5rem;
          height: 7.5rem;
        }
        h4 {
          text-transform: capitalize;
          letter-spacing: 0.2rem;
        }
        h5 {
          margin: 0.8rem 0;
          letter-spacing: 0.2rem;
        }
        .item-amount {
          text-align: center;
        }
        .remove-item {
          color: red;
          cursor: pointer;
        }
        .fa-chevron-up,
        .fa-chevron-down {
          color: $primaryColor;
          cursor: pointer;
        }
      }
    }
    .cart-footer {
      margin-top: 3rem;
      letter-spacing: 0.2rem;
      text-align: center;
      h3 {
        text-transform: capitalize;
        margin-bottom: 1.5rem;
      }
      .banner-btn {
        padding: 2rem 5rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        margin-top: 2rem;
        background: $primaryColor;
        border: 3px solid $primaryColor;
        letter-spacing: 0.2rem;
        transition: $mainTransition;
        cursor: pointer;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 45rem;
    }
  }
  .show-cart {
    transform: translateX(0);
  }
}
.transparent-background {
  visibility: visible;
}
